# Project exclude paths
/Part-1/Normal_Add/target/
/Part-2/One-to-one-Relationship/target/
/Part-2 Terminal Opean/Many_to_Many_Relationship/target/
/Part-2 Terminal Opean/One-to-One_Relationship/target/
/Part-2 Terminal Opean/One_to_Many_Relationship/target/